.box {
  display: block;
  width: 100%;
  padding: 32px 16px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
}

.box__title {
  font-size: 1.125rem;
}

.box__subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 16px;
}
