.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 620px;
  padding: 16px;
  margin: 16px auto;
}

.footer--active {
  color: config('colors.secondary-text-color');
  pointer-events: none;
  cursor: default;
}
