// ===============
// Padding
// ===============

// y and x
.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

// ===============
// Margin
// ===============

// x
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

// top
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-80 {
  margin-top: 80px;
}

// Bottom
.mb-0 {
  margin-bottom: 0;
}
