extends ../includes/layout-main
include ../mixins/bar-back
include ../mixins/footer

block content

  nav.container
    +bar-back()

  main.container
    .box.about__main
      div.main__picture
        img(src='assets/pictures/img/profile_120.jpg')
      .mt-16
        h1.box__title.text-center Jacob Samuel G.
        p.
          <span class='text-blacky'>J</span>acob es autodidacta, le gusta descubrir y planificar proyectos, algunas veces salen a la luz, la mayoría de las veces permanecen en su libreta.
        p.
          <span class='text-blacky'>A</span>ctualmente está enfocado en la programación web, la ilustración digital y la teología bíblica.
        p.
          <span class='text-blacky'>C</span>onsidera que el tiempo es importante, por ello ha decidido utilizar sabiamente cada día, cada oportunidad.
        p.
          <a class='text-blacky about__secret-link' href='https://enmidimension.tumblr.com/' target='_blank'>O</a>casionalmente disfruta escribir. A veces escribe cosas extrañas, como este párrafo, por ejemplo.
        p.
          <span class='text-blacky'>B</span>ien sabido es que le encanta comer y probar cosas nuevas, sobre todo postres; invítale un pastel y te amará.

    .box.about__links
      h2.box__title.text-center Enlaces
      p.
        Quizá lo encuentres en <a href='https://www.facebook.com/jsgnotas' target="_blank">Facebook</a>. Puedes mirar sus nada asombrosas fotografías en <a href='https://instagram.com/jacobs_views' target="_blank">Instagram</a>, y leer algunas de las notas bíblicas que comparte en su <a style="white-space: nowrap;" href='https://jsgnotes.tumblr.com' target="_blank">Blog personal</a>.

  +footer('about')
