extends ../includes/layout-main
include ../mixins/footer

block content

  main.container
    .box.home
      span Te gustan los detalles, supongo. Aqui habia más, me arrepenti de ello...

  +footer()
