extends ../includes/_layout-main
include ../mixins/_footer
include ../mixins/_bar-back

block content

  nav.container
    +bar-back()

  main.container: .box.md-px-110: #accordion.js-Accordion

    h1.box__title.text-center Proceso de trabajo
    p.
      La primera vez que organizas un proyecto digital pueden surgir muchas dudas. Una de ellas es: ¿Cómo trabajar con un programador?
    p.
      He creado un proceso muy sencillo y organizado, con el fin de darte tranquilidad mientras trabajamos juntos. Este proceso no complementa ni obstaculiza ninguna metodología ágil, solo es una ayuda para que nuestra relación profesional funcione de maravilla
    p.mb-32.
      Está formado por 8 etapas y cada etapa tiene sus propios pasos. Te invito a leer detalladamente el siguiente documento para entender cómo podemos trabajar juntos. Dando clic a cada etapa, desplegaras su información.

    button.accordion 1. Aquí empieza todo
    .accordion__panel.mt-8

      b 1.1 Hablemos.
      p.
        Este es la parte donde me cuentas sobre tu proyecto y te doy asesoría gratuita. Si, gratuita. Realmente me gusta hacerlo, no soy un experto en todos los temas, pero he pasado mucho tiempo aprendiendo y siempre tengo algo bueno que decir sobre casi cualquier proyecto.

      b 1.2 Trabajemos.
      p.
        El mundo de la programación web es muy amplio, constantemente me estoy actualizando, pero es difícil estar en todo. En este paso yo te comentare genuinamente si realmente puedo ayudarte a desarrollar tu proyecto y como puedo hacerlo.
      p.
        Si el proyecto me sobrepasa y no me es posible realizarlo, ten por seguro que te hare saber, y si esta en mis manos, te vinculare con aquel profesional que pueda ayudarte.

      b 1.3 Precios.
      p.
        Si me es posible, te daré algún presupuesto. Sin embargo, este presupuesto será totalmente susceptible a cambiar. Ya que el presupuesto certero lo tendrás en la etapa numero 3.
      .mt-32

    button.accordion 2. ¿Que necesitas?
    .accordion__panel.mt-8
      b 2.1 Requerimientos.
      p.
        En este paso me comentaras detalladamente cuales son los requisitos con los que debe contar tu aplicación y yo tomare nota de ellos.
      p.
        También puedes ayudarme enviándome (o entregándome) un documento donde expliques todo de manera extensa y detallada, yo prefiero esta opción porque nos ahorra tiempo y es más clara. Si decides hacerlo de este modo, te entregare un PDF con algunas preguntas que te ayudarán a trazar mejor los requisitos.
      p.
        Lamentablemente no puedo leer tus pensamientos, por eso es importante que seas muy especifico a la hora de presentarme los requerimientos de tu proyecto. Todo lo demás depende de ello.

      b 2.2 Recomendaciones.
      p.
        Basado en los requisitos específicos de tu aplicación, yo te hare algunas recomendaciones que podrían mejorar el proyecto o ayudar de alguna forma al proceso de desarrollo.
      p.
        Tu decidirás si implementar o no estas recomendaciones. Ten en cuenta que también podría haber recomendaciones necesarias (obligatorias), que deban aplicarse debido a la naturaleza del proyecto, si esto pasa, te lo hare saber.
      p.
        Durante el resto del proceso de desarrollo, es posible que vuelvas a recibir recomendaciones. Las cosas siempre pueden mejorarse.
      .mt-32

    button.accordion 3. Negociemos
    .accordion__panel.mt-8

      b 3.1 Presupuesto.
      p.
        Después del paso anterior, yo conoceré de manera detallada cuales son las necesidades de tu proyecto. Estas especificaciones me ayudarán a definir cuales son las funcionalidades que debo desarrollar para tu aplicación web. Con base a estas funcionalidades, lograré definir el presupuesto certero para tu proyecto.
      p.
        Antes de definir el presupuesto, podremos negociar los costos y tiempos del proyecto.

      b 3.2 Cambios.
      p.
        El presupuesto estará basado en los datos que me brindes durante la etapa #2. Debes tener en cuenta que los proyectos digitales casi siempre cambian durante el desarrollo. Si se realiza algún cambio a los requerimientos durante las siguientes etapas, el presupuesto será reajustado de acuerdo con lo solicitado. No te preocupes,como en todos los pasos, yo seré muy claro contigo y te explicare en detalle cada parte del costo.

      b 3.3 Detalles.
      p.
        Con el fin de hacer transparente el proceso de desarrollo, vas a recibir de mi parte una lista digital que contendrá todas las funcionalidades que estaré desarrollando. Además, cada funcionalidad indicará su precio individual basado en el presupuesto.
      p.
        Podrás mirar en tiempo real el proceso de desarrollo. Cada vez que yo finalice una funcionalidad, la marcaré como terminada y así podrás conocer el avance del proyecto. Para lograr esto, usaremos la tecnología de Trello, que además es gratuita e intuitiva. Si tienes preferencia por alguna plataforma similar, no dudes en informarme para que la utilicemos.
      p.
        Esta lista es muy importante, no solo porque te permite conocer el avance real del proyecto, sino porque también contiene información técnica bastante especifica. Desglosar las funcionalidades del proyecto ya es parte de mi trabajo, por lo tanto, el acceso a esta lista lo recibirás en cuanto el anticipo sea entregado. Hablamos más sobre el anticipo en la siguiente etapa.
      .mt-32

    button.accordion 4. Los contratos
    .accordion__panel.mt-8

      b 4.1 Contratos y condiciones.
      p.
        En este paso, ambos presentamos los contratos que sean necesarios para comenzar a trabajar juntos. Por ejemplo, contratos para “servicios externos”, “de confidencialidad”, etc.
      p.
        De mi parte, solo recibirás un contrato. Este contrato está disponible y puedes revisarlo, al final de este documento se encuentra un enlace para que accedas a él. Si por algún motivo consideras que un punto debe ser modificado, házmelo saber.
      p.
        Ten en cuenta que me reservo el derecho de trabajar contigo si tus condiciones y/o motivaciones me resultan poco éticos, poco morales o van en contra de mis convicciones personales.

      b 4.2 Firmas.
      p.
        Siempre que sea posible, ambos procederemos a firmar los contratos y documentos pertinentes, ambos obtendremos una copia original de estos contratos y documentos. Hay casos muy específicos en donde la firma de contratos podría no ser posible debido a circunstancias de accesibilidad. En dichos casos, habrá que llegar a un común acuerdo en donde se establezca confianza entre ambos, sin esta confianza, la colaboración no continuará.

      b 4.3 Anticipo y pagos posteriores.
      p.
        Algunos no ven con buenos ojos el anticipo. Pero en realidad, el anticipo es bueno para ambos. A mí me permitirá comer felizmente mientras trabajo en tu proyecto y tu obtendrás esa invaluable confianza de que el producto estará hecho con calidad (y amor). Suena bien, ¿verdad?
      p.
        El calendario con los tiempos y valores definidos para el anticipo y para los pagos posteriores, estarán presentes en el presupuesto entregado durante la etapa anterior. El porcentaje del anticipo será establecido en la negociación previamente realizada. La única regla para esto, es que ambos salgamos ganando.
      .mt-32

    button.accordion 5. Los recursos
    .accordion__panel.mt-8

      b 5.1 Imágenes, audios, videos, textos, etc.
      p.
        En este paso deberás entregar todo el material que valla a ser utilizado en el proyecto. Con excepción de aquel material que esté a cargo de mí. Todo el material debe ser debidamente licenciado, ya sea a través de su compra o con autorización del uso gratuito publicada por sus respectivos autores.
      p.
        Dejo en claro que no trabajo con ningún tipo de piratería y tampoco utilizo recursos piratas, si tienes alguna intención de hacerlo, no cuentes conmigo.

      b 5.2 Lo fundamental.
      p.
        Hay ciertos tipos de recursos que son fundamentales para el desarrollo. Si se da el caso, yo te notificare cuales son los recursos necesarios.  Ten en cuenta que, posiblemente no pueda continuar con la siguiente etapa, hasta que dichos recursos sean entregados.
      .mt-32

    button.accordion 6. Construyamos
    .accordion__panel.mt-8

      b 6.1 Monitorización.
      p.
        ¿Recuerdas la lista online con las funcionalidades del proyecto? En este punto ya deberías haber recibido el enlace de acceso para revisar el avance del proyecto.

      b 6.2 Terceros.
      p.
        ¿Necesitas que trabaje con un tercero? Quizá hayas contratado a un diseñador, un fotógrafo o cualquier otro profesionista con el que deba a colaborar para desarrollar la aplicación. Estas colaboraciones son bien recibidas, siempre y cuando no interfieran con el proceso de trabajo.
      p.
        Como programador web full-stack, estoy capacitado para diseñar el front-end y desarrollar el back-end de tu aplicación. En otras palabras, puedo encargarme del diseño y la programación. Sin embargo, valoro mucho el proceso de diseño y lo considero de gran importancia, por ende, siempre recomendaré contratar a un diseñador especializado en diseño web, para la creación grafica de interfaces. Por supuesto, solo es una recomendación.

      b 6.3 Interfaz gráfica.
      p.
        El diseño de la interfaz es el primer paso en la etapa de construcción. Cuando el diseño de la interfaz este terminado, recibirás un enlace para acceder a estos diseños. Dichos diseños se les conoce técnicamente como “Mockups”, los mockups son imágenes con una representación muy exacta del diseño final de tu aplicación.
      p.
        Los mockups suelen evolucionar durante los siguientes pasos de construcción, pero sus cambios normalmente son pequeños y poco significativos.

      b 6.4 Cambios.
      p.
        El mockup es una herramienta muy útil porque te permitirá ver cómo será tu aplicación. Este es el punto en el que propones cualquier tipo de cambio en el diseño o incluso en las funcionalidades. Gracias al mockup podrás saber si la aplicación se ve cómo te gustaría.
      p.
        En este paso aun no he programado ninguna pieza de código, por ende, los cambios no son costosos, incluso podrían ser gratuitos. Una vez completado este paso, cuando comience a desarrollar, es posible que los cambios ya no sean tan fáciles de realizar. Por ello debes tomarte el tiempo necesario para apreciar el diseño y dar luz verde solo cuando estés satisfecho.

      b 6.5 Desarrollo.
      p.
        Este paso es el más largo de todos, aquí es cuando comienzo a desarrollar el código fuente de tu aplicación. Esto se llevará a cabo cuando des luz verde al diseño del mockup. Constantemente estarás recibiendo reportes y siempre podrás mirar el progreso en la lista de funcionalidades.

      b 6.6 Servicios externos.
      p.
        Tu aplicación correrá en servidores y utilizará otros servicios basados en la nube para funcionar. Estos servicios son externos a mí. En este paso contratamos aquellos servicios que nuestra aplicación necesita para ser distribuida.
      p.
        Todos estos servicios y sus costos, estarán definidos en el documento que contenga los presupuestos, estarán en una sección llamada “Servicios externos”. Estos servicios podrán ser contratados desde las primeras etapas o llegados a este punto. Es recomendable adquirir algunos servicios desde el inicio, como los dominios, por ejemplo.
      .mt-32

    button.accordion 7. Entrega
    .accordion__panel.mt-8

      b 7.1 Felicidad.
      p.
        Este es el momento cuando utilizas por primera vez tu aplicación. Llegados a este punto, tu aplicación estará lista.

      b 7.2 Pruebas.
      p.
        Antes de este paso, yo habré probado todo el código y cada funcionalidad, para que todo trabaje bien. Pero gracias a mi humanidad, es posible que algún problema se me escape, por eso necesitamos realizar pruebas con usuarios reales. Si algún error es identificado, procederé a corregirlo.
      p.
        Con tu ayuda y la de aquellos que tu decidas, probaremos por algunos días la aplicación, con el fin de detectar errores. Vamos a detectar problemas que puedan surgir mientras utilizamos la aplicación y podríamos realizar algunos cambios menores.
      p.
        Es importante que entiendas que durante este periodo no haremos cambios significativos y el objetivo de las personas que invites para probar la aplicación, no es hacer recomendaciones, sino encontrar posibles fallas. Todas las recomendaciones y cambios importantes deben ser dados en el paso 6.4 de la etapa anterior.

      b 7.3 Pagos finales.
      p.
        Cuando la aplicación esté lista, deberás saldar cualquier pago pendiente. Una vez hecho, continuaremos alegremente a la última etapa.
      .mt-32

    button.accordion 8. Lanzamiento
    .accordion__panel.mt-8

      b 8.1 Estamos juntos en esto.
      p.
        Por fin tu aplicación esta publicada para que el mundo la utilice. Los primeros días suelen producirse problemas, sobre todo en los servidores, sucede principalmente cuando la cantidad de usuarios visitando tu aplicación en muy grande. No temas, yo estaré allí para solucionar lo que haga falta, sean servidores o cualquier otra razón técnica.

      b 8.2 Continuidad.
      p.
        Crear una aplicación no es lo mismo que construir un edificio. Una vez terminado un edificio, ya no hay mucho que hacer. Pero una vez terminada una aplicación, esta puede cambiar, y mejorar.
      p.
        Llegados a este paso, podremos seguir trabajando en mejorar tu aplicación. Si por algún motivo no quieres seguir trabajando conmigo, yo te entregare todo el material, el código fuente y las credenciales de los servicios externos de tu aplicación web, para que puedas contratar a otro profesional. Todo esto sin ningún problema, así son los negocios ¿cierto?

      b 8.3 Producto mínimo viable.
      p.
        Si tu aplicación es un MVP, aún tenemos mucho trabajo por hacer. Una vez terminada esta versión, comenzaremos a recibir el feedback de los usuarios, para realizar los cambios necesarios y agregar las funcionalidades que nos ayuden a encontrar el modelo de negocios.
      p.
        Después de este punto, es posible que nuestro proceso de trabajo sea más rápido y ágil, después de todo, ya tendremos cierta confianza trabajando juntos y ambos conoceremos bien los pasos a seguir. Naturalmente los precios de desarrollo seguirán cobrándose por funcionalidad.

  +footer('process')

  script(src="/src/js/accordion.js")
