
mixin footer(type)
  footer.container: .footer
    case type
      when 'home'
        a.footer__link.footer__link--active(href='/') Inicio
        a.footer__link(href='/about-me.html') Sobre mí
      when 'about'
        a.footer__link(href='/') Inicio
        a.footer__link.footer__link--active(href='/about-me.html') Sobre mí
      default
        a.footer__link(href='/') Inicio
        a.footer__link(href='/about-me.html') Sobre mí
