// Backgrounds
$light-background-color: #e5e5e5;
$dark-background-color: #21232a;

// Text colors
$blacky: #000;
$primary-text-color: #333333;
$secondary-text-color: #666666;

// Links colors
$primary-link-color: #2492b5;
