doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='theme-color', content='#21232a')
    meta(name='AUTHOR', content='Jacob Samuel G')
    meta(name='REPLY-TO', content='jsgcontacto@gmail.com')
    meta(name='DESCRIPTION', content='Programador web full-stack')
    meta(name='KEYWORDS', content='programación,mvp,desarrollo web')
    meta(name='Revisit-after', content='7 days')
    meta(name='robots', content='ALL')
    link(rev='made', href='mailto:jsgcontacto@gmail.com')
    link(rel='stylesheet', href='assets/styles/app.css')
    link(rel='shortcut icon', href='assets/pictures/icon/favicon.ico', type='image/x-icon')
    link(rel='icon', href='assets/pictures/icon/favicon.ico', type='image/x-icon')
    title Jacob Samuel G.
  body
    block content
