doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Jacob Samuel G.
    link(rel='stylesheet', href='./styles/app.css')
  body
    block content
    block footer
