extends includes/layout

block content
  section.home-header.px-15
    .home-header__content
      p.home-header__text.
        La <b>ayuda</b> que necesitas para hacer realidad tu <b>proyecto</b> digital
    .home-header__down-icon
      a(href='#down')
        img(src='./pictures/icon/arrow_down_24.svg')
