// Main colors
$primary-black-color: #333333;
$primary-background-color: #e5e5e5;

// Text colors
$primary-text-color: $primary-black-color;
$secondary-text-color: #666666;

// Links colors
$primary-link-color: #2492b5;
